.containerCadastro {
    width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .containerCadastro h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .containerCadastro form {
    margin-bottom: 20px;
  }
  
  .containerCadastro .alert {
    margin-top: 20px;
  }  